<html>
    <head>
        <%- include('./partials/head'); %>
        <title>Login</title>
    </head>
    <body>
        <%- include('./partials/header', {session: session}); %>
        <form action="/auth/login" method="post">
            email: <input type="text" name="email"/><br/>
            password: <input type="password" name="password"/><br/>
            <input type="submit" value="login"/>
        </form>
        <a href="<%= googleURL %>">login with google</a><br/>
        <a href="<%= facebookURL %>">login with facebook</a><br/>
        <%- include('./partials/footer'); %>
    </body>
</html>